<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>RoR</title>

		<meta name="description" content="Simple presentation with what i wanted to know when I started with RoR">
		<meta name="author" content="Christian Peter">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h3>Ruby on Rails (RoR)</h3>
					<h5>Hva jeg skulle ønske jeg viste våren 2014</h5>
				</section>
				<section>
					<section>
					<h3>Kort om meg</h3>
					<ul>
						<li><b>Navn: </b> Christian Peter</li>
						<li><b>Født: </b> 1990</li>
						<li><b>Bor: </b> Oslo</li>
						<li><b>Jobber: </b> Knowit Objectnet</li>
					</ul>
				</section>
					<section data-background="liker.png">
					</section>
				</section>

				<section>
				<section>
					<h2>Adrian sin html.erb kode</h2>
					<pre><code class="hljs" data-trim contenteditable>
<%= form_for [:organization, gang] do |f| %>
  <% if gang.errors.any? %>
    <div id="error_explanation">
      <h2>
      	<%= pluralize(gang.errors.count, "error") %>
        prohibited this gang from being saved:
      </h2>

      <ul>
      <% gang.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :section_id %>
    <%= f.collection_select :section_id,
    Alexandrie::Section.all, :id, :name,
    { prompt: true },
    { class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
					</code></pre>
				</section>
				<section>
					<h3>Slim</h3>
					<ul>
						<li><a href="http://slim-lang.com/">slim-lang.com</a></li>
						<li>Forenkler HTML
							<ul>
								<li>Mindre kode, hvem liker vel ikke det?</li>
							</ul>
						</li>
						<li>Ganske likt HAML hvis noen kjenner til det?</li>
					</ul>
				</section>
				<section>
					<h2>Slim eksempel</h2>
<pre><code class="hljs" data-trim contenteditable>
= form_for [:organization, gang] do |f|
 - if gang.errors.any?
  #error_explanation"
   h2
    = pluralize(gang.errors.count, "error")
    = 'prohibited this gang from being saved:'

   ul
    - gang.errors.full_messages.each do |message|
     li= message

   .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

   .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'

   .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'

   .form-group
    = f.label :section_id
    = f.collection_select :section_id, Alexandrie::Section.all, :id, :name, prompt: true , class: 'form-control'

   .actions
    = f.submit class: 'btn btn-primary'
					</code></pre>
				</section>
				</section>
				<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
				</section>

				<section>
					<section>
						<h2>Less vs. Sass</h2>
					</section>
					<section>
						<ul>
							<li>Less kan bare iterere over numerisk data, mens Sass kan iterere over alt</li>
							<li>Sass har if, less har noe som kalles guarded mixins</li>
							<li>Less bruker JS, Sass bruker Ruby, evt. libsass som er porta over til C/C++</li>
						</ul>
					</section>
					<section>
						<h3>Variabler</h3>
						<pre><code class="hljs" data-trim contenteditable>
$font-stack: Helvetica, sans-serif;
$some-color: #333;
body {
  font: 100% $font-stack;
  color: $primary-color;
}
</code></pre>
					</section>
					<section>
						<h3>Nesting</h3>
						<pre><code class="hljs" data-trim contenteditable>
.box{
  .green{
    background-color: $green;
  }
  .red{
    background-color: $red;
  }
}
</code></pre>
					</section>
					<section>
						<h3>Mixins (1)</h3>
						<pre><code class="hljs" data-trim contenteditable>
.pane {
  @include rounded-corner;
  position: relative;
  background-color: $pane-background-color;
  border: 1px solid $pane-border-color;
  margin-bottom: 15px;
  float: left;
  border-collapse:collapse;
  width: 100%;
}
						</code></pre>
					</section>
					<section>
						<h3>Mixins (2)</h3>
						<pre><code class="hljs" data-trim contenteditable>
@mixin rounded-corners($top-left:0, $top-right:0, $bottom-right:0, $bottom-left:0){
  $arguments: $top-left $top-right $bottom-right $bottom-left;
  -webkit-border-radius: $arguments;
  -moz-border-radius: $arguments;
  -ms-border-radius: $arguments;
  -o-border-radius: $arguments;
  border-radius: $arguments;
}
						</code></pre>
					</section>
					<section>
						<h3>if else</h3>
						<pre><code class="hljs" data-trim contenteditable>
@mixin rounded-corner($type: "", $radius: $border-radius){
  @if $type == ""{
   @include all-rounded-corners($radius);
  }
  @else if type == top{
    @include top-rounded-corners($radius);
  }
  @else if type == right{
    @include right-rounded-corners($radius);
  }
  @else if type == left{
    @include left-rounded-corners($radius);
  }
  @else if type == bottom{
    @include bottom-rounded-corners($radius);
  }
}
						</code></pre>
					</section>
					<section>
						<h3>@extend</h3>
						<pre><code class="hljs" data-trim contenteditable>
.parent{
  color: black;
  border: 1px solid black;
}
.child1{
  @extend .parent;
  background-color: white;
}
.child2{
  @extend .parent;
  background-color: green;
}
.child3{
  @extend .parent;
  background-color: red;
}
						</code></pre>
					</section>
					<section>
						<h3>Matte</h3>
						<pre><code class="hljs" data-trim contenteditable>
width: 200px/800px * 100%;
						</code></pre>
						<p>Operatorer som feks er støttet er: +, -, *, /, og %.</p>
					</section>
				</section>
				<section>
					<section>
						<h3>Simple form wrappers</h3>
					</section>
					<section>
						<pre><code class="hljs" data-trim contenteditable>
config.wrappers :label_over_input do |b|
  b.use :html5
  b.use :placeholder
  b.wrapper tag: 'div', class: 'label-over-input' do |ba|
    ba.use :label
    ba.use :input, class: 'form-control'
    ba.use :error, wrap_with: { tag: 'span', class: 'help-block' }
  end
end
	</pre></code>
					</section>
					<section>
						<pre><code class="hljs" data-trim contenteditable>
= f.input :name, input_html: {tabindex: autotab},
  wrapper: :label_over_input

	</pre></code>
					</section>
				</section>
				<section>
					<h3>CanCan(Can)</h3>
					<pre><code class="hljs" data-trim contenteditable>
class Ability
  include CanCan::Ability

  def initialize(user)
    user ||= User.new
    if user.admin?
      can :manage, :all
    else
      can :read, :all
    end
  end
end
</pre></code>

				</section>
				<section>
					<h3>Egne gems</h3>
					<img src="oppsett.png" style="width: 500px;"/>
				</section>
				<section>
					<h3>Funfunfun</h3>
					<video style="width: 500px;" src="https://destroyallsoftware-talks.s3.amazonaws.com/wat.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIKRVCECXBC4ZGHIQ%2F20160301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20160301T213113Z&X-Amz-Expires=14400&X-Amz-SignedHeaders=host&X-Amz-Signature=e268065faf93c3e3e703c053cb73a2cde9ebaf81fd6ad5c8fb56d58e86eac08d" controls>

					</video>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
